:root {
    --navColor: linear-gradient(to right, #015a5b, #00CED1);
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    background: lightgray !important;
}

.nav {
    background: var(--navColor);
}

.cForm {
    padding: 40px;
}

.formRegistro {
    background: #A9D4D8;
    margin: 0 auto;
    padding: 20px;
}

.titulo, .boton, .footForm {
    text-align: center;
}

.ulNav {
    margin-right: 5px;
}